{% extends "base.html" %}

{% block title %}
Создание инструмента
{% endblock %}

{% block content %}

<Form method="POST"  id="CreateToolsForm" action="CreateTools">
    <input type="text" name="ToolName" id="ToolName" placeholder="Название инструмента" required />
    <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
    <input type="text" list="ToolTypesList" name="ToolTypes" id="ToolTypes" placeholder="Тип инструмента"/>
    <datalist id="ToolTypesList">
        {% for ToolType in ToolTypes %}
        <option value="{{ ToolType.id }}">
        </option>>
          {% endfor %}
    </datalist>
    <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
    <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
    <button type="submit">Создать</button>
</Form>

{% endblock %}