{% extends "base.html" %}

{% block title %}
Создание характеристики
{% endblock %}

{% block content %}

<Form method="POST"  id="CreateCharacteristicesForm" action="CreateCharacteristices">
    <input type="text" name="CharacteristicName" id="CharacteristicName" placeholder="Название характеристики" required />
    <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
    <input type="text" name="Skills" id="Skills" placeholder="Даваемые навыками"/>
    <select class="SkillsPrint add-to-tags" name="SkillsPrint" id="SkillsPrint" multiple>
        {% for Skill in Skills %}
        <option value="{{ Skill.id }}">
            {{ Skill.Name }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Создать</button>
</Form>

{% endblock %}