{% extends "base.html" %}
{% block title %}
Создание инструмента
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateToolsForm" action="CreateTools">
   <input type="text" name="ToolName" id="ToolName" placeholder="Название инструмента" required />
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   <label for="ToolTypes">Тип инструмента:</label>
   <select class="ToolTypes add-to-tags" name="ToolTypes" id="ToolTypes">
      {% for ToolType in ToolTypes %}
      <option value="{{ ToolType.id }}">
         {{ ToolType.Name }}
      </option>
      >
      {% endfor %}
   </select>
   <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
   <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
   <button type="submit">Создать</button>
</Form>
{% endblock %}