{% extends "base.html" %}
{% block title %}
Создание предыстории
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateBackgroundsForm" action="CreateBackgrounds">
   <input type="text" name="BackgroundName" id="BackgroundName" placeholder="Название предыстрории" required />
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Characteristices" id="Characteristices" placeholder="Владение характеристиками">
		<ul>
			{% for Characteristic in Characteristices %}
			<li>
				<input type="checkbox" name="CharacteristicesPrint" class ='checkboxUpdate'
					id="CharacteristicesPrint {{ Characteristic.id }}"  value="{{ Characteristic.id }}"/> {{ Characteristic.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Spells" id="Spells" placeholder="Дополнительные заклинания">
		<ul>
			{% for Spell in Spells %}
			<li>
				<input type="checkbox" name="SpellsPrint" class ='checkboxUpdate'
					id="SpellsPrint {{ Spell.id }}"  value="{{ Spell.id }}"/> {{ Spell.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Skills" id="Skills" placeholder="Владение навыками">
		<ul>
			{% for Skill in Skills %}
			<li>
				<input type="checkbox" name="SkillsPrint" class ='checkboxUpdate'
					id="SkillsPrint {{ Skill.id }}"  value="{{ Skill.id }}"/> {{ Skill.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="ToolOwnership" id="ToolOwnership" placeholder="Владение инструментами">
		<ul>
			{% for Tool in Tools %}
			<li>
				<input type="checkbox" name="ToolOwnershipPrint" class ='checkboxUpdate'
					id="ToolOwnershipPrint {{ Tool.id }}"  value="{{ Tool.id }}"/> {{ Tool.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Languages" id="Languages" placeholder="Владение языками">
		<ul>
			{% for Language in Languages %}
			<li>
				<input type="checkbox" name="LanguagesPrint" class ='checkboxUpdate'
					id="LanguagesPrint {{ Language.id }}"  value="{{ Language.id }}"/> {{ Language.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <button type="submit">Создать</button>
</Form>
{% endblock %}