{% extends "base.html" %}
{% block title %}
Создание магического предмета
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateMagicalItemsForm" action="CreateMagicalItems">
   <input type="text" name="MagicalItemsName" id="MagicalItemsName" placeholder="Название магического предмета" required />
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   <input type="text" name="PowerBonus" id="PowerBonus" placeholder="Бонус атаки" required />
   <input type="text" name="ArmorBonus" id="ArmorBonus" placeholder="Бонус защиты" required />
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Characteristices" id="Characteristices" placeholder="Владение характеристиками">
		<ul>
			{% for Characteristic in Characteristices %}
			<li>
				<input type="checkbox" name="CharacteristicesPrint" class ='checkboxUpdate'
					id="CharacteristicesPrint {{ Characteristic.id }}"  value="{{ Characteristic.id }}"/> {{ Characteristic.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="DamageResistance" id="DamageResistance" placeholder="Сопративление к урону">
		<ul>
			{% for DamageType in DamageTypes %}
			<li>
				<input type="checkbox" name="DamageResistancePrint" class ='checkboxUpdate'
					id="DamageResistancePrint {{ DamageType.id }}"  value="{{ DamageType.id }}"/> {{ DamageType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="DamageImmunity" id="DamageImmunity" placeholder="Имунитет к урону">
		<ul>
			{% for DamageType in DamageTypes %}
			<li>
				<input type="checkbox" name="DamageImmunityPrint" class ='checkboxUpdate'
					id="DamageImmunityPrint {{ DamageType.id }}"  value="{{ DamageType.id }}"/> {{ DamageType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="EffectsResistance" id="EffectsResistance" placeholder="Невосприимчивость к эффектам">
		<ul>
			{% for Effect in Effects %}
			<li>
				<input type="checkbox" name="EffectsResistancePrint" class ='checkboxUpdate'
					id="EffectsResistancePrint {{ Effect.id }}"  value="{{ Effect.id }}"/> {{ Effect.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Effects" id="Effects" placeholder="Эфекты">
		<ul>
			{% for Effect in Effects %}
			<li>
				<input type="checkbox" name="EffectsPrint" class ='checkboxUpdate'
					id="EffectsPrint {{ Effect.id }}"  value="{{ Effect.id }}"/> {{ Effect.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Spells" id="Spells" placeholder="Дополнительные заклинания">
		<ul>
			{% for Spell in Spells %}
			<li>
				<input type="checkbox" name="SpellsPrint" class ='checkboxUpdate'
					id="SpellsPrint {{ Spell.id }}"  value="{{ Spell.id }}"/> {{ Spell.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Skills" id="Skills" placeholder="Владение навыками">
		<ul>
			{% for Skill in Skills %}
			<li>
				<input type="checkbox" name="SkillsPrint" class ='checkboxUpdate'
					id="SkillsPrint {{ Skill.id }}"  value="{{ Skill.id }}"/> {{ Skill.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="PossessionArmor" id="PossessionArmor" placeholder="Владение доспехами">
		<ul>
			{% for ArmorType in ArmorTypes %}
			<li>
				<input type="checkbox" name="PossessionArmorPrint" class ='checkboxUpdate'
					id="PossessionArmorPrint {{ ArmorType.id }}"  value="{{ ArmorType.id }}"/> {{ ArmorType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="GunOwnership" id="GunOwnership" placeholder="Владение оружием">
		<ul>
			{% for Weapoon in Weapoons %}
			<li>
				<input type="checkbox" name="GunOwnershipPrint" class ='checkboxUpdate'
					id="GunOwnershipPrint {{ Weapoon.id }}"  value="{{ Weapoon.id }}"/> {{ Weapoon.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="ToolOwnership" id="ToolOwnership" placeholder="Владение инструментами">
		<ul>
			{% for Tool in Tools %}
			<li>
				<input type="checkbox" name="ToolOwnershipPrint" class ='checkboxUpdate'
					id="ToolOwnershipPrint {{ Tool.id }}"  value="{{ Tool.id }}"/> {{ Tool.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Languages" id="Languages" placeholder="Владение языками">
		<ul>
			{% for Language in Languages %}
			<li>
				<input type="checkbox" name="LanguagesPrint" class ='checkboxUpdate'
					id="LanguagesPrint {{ Language.id }}"  value="{{ Language.id }}"/> {{ Language.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Abilities" id="Abilities" placeholder="Особые способности">
		<ul>
			{% for Abilitie in Abilities %}
			<li>
				<input type="checkbox" name="AbilitiesPrint" class ='checkboxUpdate'
					id="AbilitiesPrint {{ Abilitie.id }}"  value="{{ Abilitie.id }}"/> {{ Abilitie.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
    <div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="ArmorTypes" id="ArmorTypes" placeholder="Доспех основа магического предмета">
		<ul>
			{% for Armor in Armors %}
			<li>
				<input type="radio" name="ArmorTypesPrint" class ='checkboxUpdate'
					id="ArmorTypesPrint {{ Armor.id }}"  value="{{ Armor.id }}"/> {{ Armor.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
    <div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="WeapoonTypes" id="WeapoonTypes" placeholder="Оружие основа магического предмета">
		<ul>
			{% for Weapoon in Weapoons %}
			<li>
				<input type="radio" name="WeapoonTypesPrint" class ='checkboxUpdate'
					id="WeapoonTypesPrint {{ Weapoon.id }}"  value="{{ Weapoon.id }}"/> {{ Weapoon.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
    <div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="MagicalItemTypes" id="MagicalItemTypes" placeholder="Тип магического предмета">
		<ul>
			{% for MagicalItemType in MagicalItemTypes %}
			<li>
				<input type="radio" name="MagicalItemTypesPrint" class ='checkboxUpdate'
					id="MagicalItemTypesPrint {{ MagicalItemType.id }}"  value="{{ MagicalItemType.id }}"/> {{ Weapoon.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <button type="submit">Создать</button>
</Form>
{% endblock %}