{% extends "base.html" %}
{% block title %}
Создание снаряжения
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateEquipmentsForm" action="CreateEquipments">
   <input type="text" name="EquipmentName" id="EquipmentName" placeholder="Название снаряжения" required />
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="EquipmentTypes" id="EquipmentTypes" placeholder="Владение навыками">
		<ul>
			{% for EquipmentType in EquipmentTypes %}
			<li>
				<input type="radio" name="EquipmentTypesPrint" class ='checkboxUpdate'
					id="EquipmentTypesPrint {{ EquipmentType.id }}"  value="{{ EquipmentType.id }}"/> {{ EquipmentType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
   <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
   <button type="submit">Создать</button>
</Form>
{% endblock %}