{% extends "base.html" %}
{% block title %}
Создание инструмента
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateToolsForm" action="CreateTools">
   <input type="text" name="ToolName" id="ToolName" placeholder="Название инструмента" required />
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="ToolTypes" id="ToolTypes" placeholder="Тип инструмента">
		<ul>
			{% for ToolType in ToolTypes %}
			<li>
				<input type="radio" name="ToolTypesPrint" class ='checkboxUpdate'
					id="ToolTypesPrint {{ ToolType.id }}"  value="{{ ToolType.id }}"/> {{ ToolType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
   <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
   <button type="submit">Создать</button>
</Form>
{% endblock %}