{% extends "base.html" %}

{% block title %}
Создание оружия
{% endblock %}

{% block content %}

<Form method="POST"  id="CreateWeaponsForm" action="CreateWeapons">
    <input type="text" name="WeapoonName" id="WeapoonName" placeholder="Название оружия" required/>
    <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
    <label for="WeapoonTypes">Тип оружия:</label>
    <select class="WeapoonTypes add-to-tags" name="WeapoonTypes" id="WeapoonTypes">
        {% for WeapoonType in WeapoonTypes %}
        <option value="{{ WeapoonType.id }}">
            {{ WeapoonType.Name }}
        </option>>
        {% endfor %}
    </select>
    <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
    <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
    <input type="text" name="Damage" id="Damage" placeholder="Урон"/>
    <label for="DamageTypes">Тип урона:</label>
    <select class="DamageTypes add-to-tags" name="DamageTypes" id="DamageTypes">
        {% for DamageType in DamageTypes %}
        <option value="{{ DamageType.id }}">
            {{ DamageType.Name }}
        </option>>
        {% endfor %}
    </select>
    <button type="submit">Создать</button>
</Form>

{% endblock %}