{% extends "base.html" %}
{% block title %}
Создание подкласса
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateArchetypesForm" action="CreateArchetypes">
	<input type="text" name="ArchetypeName" id="ArchetypeName" placeholder="Название подкласса" required />
	<textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Characteristices" id="Characteristices" placeholder="Владение характеристиками">
		<ul>
			{% for Characteristic in Characteristices %}
			<li>
				<input type="checkbox" name="CharacteristicesPrint" class ='checkboxUpdate'
					id="CharacteristicesPrint {{ Characteristic.id }}"  value="{{ Characteristic.id }}"/> {{ Characteristic.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="DamageResistance" id="DamageResistance" placeholder="Сопративление к урону">
		<ul>
			{% for DamageType in DamageTypes %}
			<li>
				<input type="checkbox" name="DamageResistancePrint" class ='checkboxUpdate'
					id="DamageResistancePrint {{ DamageType.id }}"  value="{{ DamageType.id }}"/> {{ DamageType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="DamageImmunity" id="DamageImmunity" placeholder="Имунитет к урону">
		<ul>
			{% for DamageType in DamageTypes %}
			<li>
				<input type="checkbox" name="DamageImmunityPrint" class ='checkboxUpdate'
					id="DamageImmunityPrint {{ DamageType.id }}"  value="{{ DamageType.id }}"/> {{ DamageType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="EffectsResistance" id="EffectsResistance" placeholder="Невосприимчивость к эффектам">
		<ul>
			{% for Effect in Effects %}
			<li>
				<input type="checkbox" name="EffectsResistancePrint" class ='checkboxUpdate'
					id="EffectsResistancePrint {{ Effect.id }}"  value="{{ Effect.id }}"/> {{ Effect.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Spells" id="Spells" placeholder="Дополнительные заклинания">
		<ul>
			{% for Spell in Spells %}
			<li>
				<input type="checkbox" name="SpellsPrint" class ='checkboxUpdate'
					id="SpellsPrint {{ Spell.id }}"  value="{{ Spell.id }}"/> {{ Spell.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Skills" id="Skills" placeholder="Владение навыками">
		<ul>
			{% for Skill in Skills %}
			<li>
				<input type="checkbox" name="SkillsPrint" class ='checkboxUpdate'
					id="SkillsPrint {{ Skill.id }}"  value="{{ Skill.id }}"/> {{ Skill.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="PossessionArmor" id="PossessionArmor" placeholder="Владение доспехами">
		<ul>
			{% for ArmorType in ArmorTypes %}
			<li>
				<input type="checkbox" name="PossessionArmorPrint" class ='checkboxUpdate'
					id="PossessionArmorPrint {{ ArmorType.id }}"  value="{{ ArmorType.id }}"/> {{ ArmorType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="GunOwnership" id="GunOwnership" placeholder="Владение оружием">
		<ul>
			{% for Weapoon in Weapoons %}
			<li>
				<input type="checkbox" name="GunOwnershipPrint" class ='checkboxUpdate'
					id="GunOwnershipPrint {{ Weapoon.id }}"  value="{{ Weapoon.id }}"/> {{ Weapoon.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="ToolOwnership" id="ToolOwnership" placeholder="Владение инструментами">
		<ul>
			{% for Tool in Tools %}
			<li>
				<input type="checkbox" name="ToolOwnershipPrint" class ='checkboxUpdate'
					id="ToolOwnershipPrint {{ Tool.id }}"  value="{{ Tool.id }}"/> {{ Tool.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Languages" id="Languages" placeholder="Владение языками">
		<ul>
			{% for Language in Languages %}
			<li>
				<input type="checkbox" name="LanguagesPrint" class ='checkboxUpdate'
					id="LanguagesPrint {{ Language.id }}"  value="{{ Language.id }}"/> {{ Language.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Abilities" id="Abilities" placeholder="Особые способности">
		<ul>
			{% for Abilitie in Abilities %}
			<li>
				<input type="checkbox" name="AbilitiesPrint" class ='checkboxUpdate'
					id="AbilitiesPrint {{ Abilitie.id }}"  value="{{ Abilitie.id }}"/> {{ Abilitie.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Classes" id="Classes" placeholder="Класс">
		<ul>
			{% for Class in Classes %}
			<li>
				<input type="radio" name="ClassesPrint" class ='checkboxUpdate'
					id="ClassesPrint {{ Class.id }}"  value="{{ Class.id }}"/> {{ Class.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<input type="checkbox" name="NotArmorSafe" id="NotArmorSafe"/>Защита без доспех
	<input type="text" name="ArmorClass" id="ArmorClass" placeholder="Класс брони без доспех"/>
	<button type="submit">Создать</button>
</Form>
{% endblock %}