{% extends "base.html" %}
{% block title %}
Создание заклинания
{% endblock %}
{% block content %}
<Form method="POST"  id="CreateSpellsForm" action="CreateSpells">
   <input type="text" name="SpellName" id="SpellName" placeholder="Название заклинания"/>
   <textarea name="Discription" id="Discription" placeholder="Описание"></textarea>
   <input type="number" name="LevelSpell" id="LevelSpell" placeholder="Уровень заклинания"/>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Classes" id="Classes" placeholder="Доступно для классов">
		<ul>
			{% for Class in Classes %}
			<li>
				<input type="checkbox" name="ClassesPrint" class ='checkboxUpdate'
					id="ClassesPrint {{ Class.id }}"  value="{{ Class.id }}"/> {{ Class.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Archetypes" id="Archetypes" placeholder="Доступно для подклассов">
		<ul>
			{% for Archetype in Archetypes %}
			<li>
				<input type="checkbox" name="ArchetypesPrint" class ='checkboxUpdate'
					id="ArchetypesPrint {{ Archetype.id }}"  value="{{ Archetype.id }}"/> {{ Archetype.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <input type="text" name="Damage" id="Damage" placeholder="Атака заклинания"/>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="DamageTypes" id="DamageTypes" placeholder="Тип урона">
		<ul>
			{% for DamageType in DamageTypes %}
			<li>
				<input type="radio" name="DamageTypesPrint" class ='checkboxUpdate'
					id="DamageTypesPrint {{ DamageType.id }}"  value="{{ DamageType.id }}"/> {{ DamageType.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="EffectsResistance" id="EffectsResistance" placeholder="Невосприимчивость к эффектам">
		<ul>
			{% for Effect in Effects %}
			<li>
				<input type="checkbox" name="EffectsResistancePrint" class ='checkboxUpdate'
					id="EffectsResistancePrint {{ Effect.id }}"  value="{{ Effect.id }}"/> {{ Effect.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Effects" id="Effects" placeholder="Эфекты">
		<ul>
			{% for Effect in Effects %}
			<li>
				<input type="checkbox" name="EffectsPrint" class ='checkboxUpdate'
					id="EffectsPrint {{ Effect.id }}"  value="{{ Effect.id }}"/> {{ Effect.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Languages" id="Languages" placeholder="Владение языками">
		<ul>
			{% for Language in Languages %}
			<li>
				<input type="checkbox" name="LanguagesPrint" class ='checkboxUpdate'
					id="LanguagesPrint {{ Language.id }}"  value="{{ Language.id }}"/> {{ Language.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="input-item">
		<input type="hidden" class="hiddenUpdate" name="Abilities" id="Abilities" placeholder="Особые способности">
		<ul>
			{% for Abilitie in Abilities %}
			<li>
				<input type="checkbox" name="AbilitiesPrint" class ='checkboxUpdate'
					id="AbilitiesPrint {{ Abilitie.id }}"  value="{{ Abilitie.id }}"/> {{ Abilitie.Name }}
			</li>
			{% endfor %}
		</ul>
	</div>
   <input type="text" name="ApplicationTime" id="ApplicationTime" placeholder="Время накладывания"/>
   <input type="text" name="Distance" id="Distance" placeholder="Дистанция"/>
   <input type="text" name="Components" id="Components" placeholder="Компоненты"/>
   <input type="text" name="Duration" id="Duration" placeholder="Продолжительность"/>
   <input type="checkbox" name="Ritual" id="Ritual"/>Ритуал
   <button type="submit">Создать</button>
</Form>
{% endblock %}