/* dropdowns.css */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.dropdown select {
  appearance: none;
  border-radius: 0;
  background-color: transparent;
  padding-right: 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: auto;
  min-width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 5px;
}
.fixed-selected div.dropdown-content li {
  cursor: not-allowed;
  padding: 8px 16px;
}
.dropdown-content li {
  cursor: pointer;
  padding: 8px 16px;
}
.dropdown-content li.selected {
  color: white;
  background-color: #007bff;
}
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}
