/* links_and_buttons.css */
a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
a:hover {
  opacity: 0.8;
}

button, span.addRowButton, span.delete-row {
	cursor: pointer;
	font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover{
  background-color: #9bb8dc;
}

#back-button {
  margin-top: 20px;
  padding: 10px 20px;
	background-color: #6c4ccf;
  color: white;
  border: none;
  cursor: pointer;
}

#back-button:hover {
	background-color: #47cf25;
}