/* links_and_buttons.css */
a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
a:hover {
  opacity: 0.8;
}

button, span.addRowButton, span.delete-row {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover, span.addRowButton, span.delete-row {
  background-color: #9bb8dc;
}

#back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#back-button:hover {
  background-color: #45a049;
}