/* reset.css */
html,
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
form,
label,
input,
button,
dialog {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  line-height: inherit;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  border: none;
  color: inherit;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  height: 100vh;
  margin: 0;
  color: #333; /* Темный текст при фокусе */
  background-color: #fafafa; /* Светлый фон при фокусе */
}

input[type="number"] {
  color: #333;
  background-color: #fafafa;
}