.tables-right {
	display: flex;
	justify-content: center;
}

.hide {
	display: none;
}

label.switch-container {
	display: inline-flex;
	align-items: center;
	gap: 10px; /* Расстояние между элементами */
	padding: 15px;
}

.label-left, .label-right {
	font-size: 16px;
	color: #333;
}

label.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.toggleButton {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
	transform: translateX(26px);
}

/* Основной стиль надписей */
.label-left, .label-right {
	font-size: 16px;
	color: #333; /* Стандартный цвет текста */
	transition: color 0.3s ease-in-out; /* Мягкий переход цвета */
}

/* Активный заголовок */
.active-label {
	color: #2196F3 !important; /* Ярко-голубой цвет для выделения */
}