/* tablesPersonage.css */

.MainDates, .dynamicTable, .Skills, .Spass {
	border: 1em ridge rgb(129 64 236 / 1);
	width: 100%;
	height: 100%;
}

.MainDates td, .dynamicTable th, .dynamicTable td, .Skills td, .Spass td {
	border: 0.3em solid rgb(131 70 236 / 0.5);
}

td.border-none {
	border: none;
}

#photo-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#imageDate {
	width: 14em;
	height: 100%;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 4%;
}

.bottom-left,
.bottom-right {
	position: absolute;
	font-size: 14px;
	padding: 5px;
	z-index: 1;
}

.bottom-left {
	bottom: 5px;
	left: 5px;
}

.bottom-right {
	bottom: 5px;
	right: 5px;
}

#image_uploads_label {
	cursor: pointer;
}

#image_uploads {
	display: none;
}

label#image_uploads_label {
	width: 100%;
	height: 100%;
}

/* Уменьшение ширины таблицы */
.MainDates, .Skills , .Spass {
	width: 100%;
	height: 100%;
}

#dynamicTable {
	width: 100%;
	height: 100%;
}

/* Уменьшение ширины ячеек таблицы */
.MainDates td, #dynamicTable td, .Skills td, .Spass td{
	padding: 5px; /* Уменьшаем отступы внутри ячеек */
}

/* Уменьшение ширины элементов внутри ячеек */
.MainDates input[type="text"],
.MainDates input[type="number"],
.MainDates input[type="file"],
.dynamicTable input[type="text"],
.dynamicTable input[type="number"],
.Skills input[type="text"],
.Skills input[type="number"],
.Spass input[type="text"],
.Spass input[type="number"] {
	width: 100%; /* Элементы занимают всю ширину ячейки */
	height: 100%; /* Элементы занимают всю ширину ячейки */
	padding: 5px; /* Уменьшаем отступы внутри элементов */
	background-color: #282c34;
	border: none;
	color: white;
}

/* Уменьшение ширины выпадающих списков */
.MainDates .dropdown, .dynamicTable .dropdown {
	width: 100%; /* Выпадающие списки занимают всю ширину ячейки */
}

/* Уменьшение ширины выпадающих списков */
.MainDates .dropdown-content, .dynamicTable .dropdown-content {
	width: 100%; /* Выпадающие списки занимают всю ширину ячейки */
}

input#MaxWeight, input#TotalWeight {
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: #282c34;
	color:white;
	border:none;
}

.block-item {
	display: flex
	;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3px;
}

.block-item  input[type="text"], .block-item  input[type="number"] {
	left: 5%;
	width: 95%;
}

.skill-nameing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	width: 100%;
}

.blockTable {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.MainDates .interactivElement[type="text"],
.MainDates .interactivElement[type="number"],
.MainDates .interactivElement[type="file"],
.dynamicTable .interactivElement[type="text"],
.dynamicTable .interactivElement[type="number"],
.Skills .interactivElement[type="text"],
.Skills .interactivElement[type="number"],
.Spass .interactivElement[type="text"],
.Spass .interactivElement[type="number"] {
	color: #090909;
	border: #DB8E8E solid 2px;
	background: white;
}

#flash-message{
	display: none;
	margin: 15px;
	background: #ffcc00;
	color: #000;
	padding: 9px;
	border-radius: 10px;
	font-size: 16px;
	opacity: 0;
	transition: .5s;
}

.skill-nameing p.SkillName {
	width: 38%;
	text-indent: 0px;
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.SpassCharacteristicsValue {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}


