{% extends "base.html" %}

{% block title %}
Изменить характеристики
{% endblock %}

{% block content %}

<h1>Изменить характеристики</h1>

 {% for Characteristic in Characteristices %}

<form method="POST"  id="EditCharacteristicesForm{{ Characteristic.id }}" action="EditCharacteristices">
    <input form="EditCharacteristicesForm{{ Characteristic.id }}" type="submit" name="Date_id" id="Date_id" value="{{ Characteristic.id }}" placeholder='{{ Characteristic.Name }}'>
</form>

{% endfor %}

{% endblock %}