{% extends "base.html" %}
{% block title %}
{{ Title }}
{% endblock %}
{% block content %}

<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<Form method="POST" id="CreateForm" class="{{ TableName }}Form" action="Create{{ TableName }}"
	  enctype="multipart/form-data">
	{% for Date in DateTabels %}
		{% if Date[0] is iterable and (Date[0] is not string and Date[0] is not mapping) %}
    {% if Date[0]|length > 0 %}
    {% if Date[3] %}
    <div class="dropdown single-select" data-type="single" data-fixed="false">
        <input type="hidden" class="values-input" id="{{ Date[1] }}" placeholder="{{ Date[2] }}" name="{{ Date[1] }}"
               readonly style="width: 200px;"/>
        <input type="text" class="texts-input" id="{{ Date[1] }}-{{ Date[2] }}" placeholder="{{ Date[2] }}" readonly
               style="width: 200px;"/>
        <div class="dropdown-content">
            <ul>
                {% for Table in Date[0] %}
                <li data-value="{{ Table.id }}">{{ Table.Name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="dropdown multiple-select" data-type="multiple" data-fixed="false">
        <input type="hidden" class="values-input" id="{{ Date[1] }}" placeholder="{{ Date[2] }}" name="{{ Date[1] }}"
               readonly style="width: 200px;"/>
        <input type="text" class="texts-input" id="{{ Date[1] }}-{{ Date[2] }}" placeholder="{{ Date[2] }}" readonly
               style="width: 200px;"/>
        <div class="dropdown-content">
            <ul>
                {% for Table in Date[0] %}
                <li data-value="{{ Table.id }}">{{ Table.Name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
			{% endif %}
	{% elif Date[0] == "imageName" %}
	<input type="hidden" id="oldimageName" name="oldimageName" value="1"/>
	<label for="image_uploads" id="image_uploads_label">Загрузить картинку:</label>
	<canvas id="imageDate"></canvas>
	<input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png"/>
		{% else %}
	{% if Date[0] == 'Discription' %}
				<textarea name="{{ Date[0] }}" id="{{ Date[0] }}" placeholder="{{ Date[1] }}"></textarea>
			{% else %}
				{% if Date[2] == True %}
				<input type="checkbox" name="{{ Date[0] }}" id="{{ Date[0] }}"/>{{ Date[1] }}
				{% else %}
				<input type="text" name="{{ Date[0] }}" id="{{ Date[0] }}" placeholder="{{ Date[1] }}"/>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	<button type="submit">Создать</button>
</Form>

{% endblock %}