{% extends "base.html" %}

{% block title %}
Добавление данных по ДНД
{% endblock %}

{% block content %}
<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<ul>
    <li>
        <a href="{{ url_for('CreateAbilities') }}">Добавить способности</a>
    </li>
    <li>
        <a href="{{ url_for('CreateArchetypes') }}">Добавить архетип</a>
    </li>
    <li>
        <a href="{{ url_for('CreateArmors') }}">Добавить доспех</a>
    </li>
    <li>
        <a href="{{ url_for('CreateArmorTypes') }}">Добавить тип доспеха</a>
    </li>
    <li>
        <a href="{{ url_for('CreateAtributes') }}">Добавить черту</a>
    </li>
    <li>
        <a href="{{ url_for('CreateBackgrounds') }}">Добавить предысторию</a>
    </li>
    <li>
        <a href="{{ url_for('CreateCharacteristices') }}">Добавить характеристику</a>
    </li>
    <li>
        <a href="{{ url_for('CreateClasses') }}">Добавить класс</a>
    </li>
    <li>
        <a href="{{ url_for('CreateDamageTypes') }}">Добавить тип урона</a>
    </li>
    <li>
        <a href="{{ url_for('CreateEffects') }}">Добавить эффект</a>
    </li>
    <li>
        <a href="{{ url_for('CreateEquipments') }}">Добавить снаряжение</a>
    </li>
    <li>
        <a href="{{ url_for('CreateEquipmentTypes') }}">Добавить тип снаряжения</a>
    </li>
    <li>
        <a href="{{ url_for('CreateFeatures') }}">Добавить cвойства оружия</a>
    </li>
    <li>
        <a href="{{ url_for('CreateLanguages') }}">Добавить язык</a>
    </li>
    <li>
        <a href="{{ url_for('CreateMagicalItems') }}">Добавить магичечский предмет</a>
    </li>
    <li>
        <a href="{{ url_for('CreateMagicalItemTypes') }}">Добавить тип магического предмета</a>
    </li>
    <li>
        <a href="{{ url_for('CreateRaces') }}">Добавить расу</a>
    </li>
    <li>
        <a href="{{ url_for('CreateSkills') }}">Добавить навык</a>
    </li>
    <li>
        <a href="{{ url_for('CreateSpells') }}">Добавить заклинание</a>
    </li>
    <li>
        <a href="{{ url_for('CreateTools') }}">Добавить инструмент</a>
    </li>
    <li>
        <a href="{{ url_for('CreateToolTypes') }}">Добавить тип инструмента</a>
    </li>
    <li>
        <a href="{{ url_for('CreateWeapoons') }}">Добавить оружие</a>
    </li>
    <li>
        <a href="{{ url_for('CreateWeapoonTypes') }}">Добавить тип оружия</a>
    </li>
</ul>

{% endblock %}