{% extends "base.html" %}
{% block title %}
{{ Title }}
{% endblock %}
{% block content %}
<Form method="POST" id="CreateForm" class="{{ TableName }}Form" action="Create{{ TableName }}"
	  enctype="multipart/form-data">
	{% for Date in DateTabels %}
		{% if Date[0] is iterable and (Date[0] is not string and Date[0] is not mapping) %}
			{% if Date[0]|length > 1 %}
				<div class="input-item">
					<label for="{{ Date[1] }}">{{ Date[2] }}:</label>
					<input type="hidden" class="hiddenUpdate" name="{{ Date[1] }}" id="{{ Date[1] }}" placeholder="{{ Date[2] }}">
					{% for Table in Date[0] %}
						<ul>
							{% if Date[3] %}
								<li>
									<input type="radio" name="{{ Date[1] }}Print" class ='checkboxUpdate'
										   id="{{ Date[1] }}Print {{ Table.id }}"  value="{{ Table.id }}"/> {{ Table.Name }}
								</li>
							{% else %}
								<li>
									<input type="checkbox" name="{{ Date[1] }}Print" class ='checkboxUpdate'
										   id="{{ Date[1] }}Print {{ Table.id }}"  value="{{ Table.id }}"/> {{ Table.Name }}
								</li>
							{% endif %}
						</ul>
					{% endfor %}
				</div>
			{% endif %}
	{% elif Date[0] == "imageName" %}
	<input type="hidden" id="oldimageName" name="oldimageName" value=""/>
	<label for="image_uploads" id="image_uploads_label">Загрузить картинку:</label>
	<canvas id="imageDate"></canvas>
	<input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png"/>
		{% else %}
	{% if Date[0] == 'Discription' %}
				<textarea name="{{ Date[0] }}" id="{{ Date[0] }}" placeholder="{{ Date[1] }}"></textarea>
			{% else %}
				{% if Date[2] == True %}
				<input type="checkbox" name="{{ Date[0] }}" id="{{ Date[0] }}"/>{{ Date[1] }}
				{% else %}
				<input type="text" name="{{ Date[0] }}" id="{{ Date[0] }}" placeholder="{{ Date[1] }}"/>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	<button type="submit">Создать</button>
</Form>
{% endblock %}