{% extends "LoginPage.html" %}
{% block title %}
Регистрация
{% endblock %}
{% block content %}
<h1>Регистрация</h1>
{% if current_user.is_authenticated %}
Вы уже вошли в систему.
{% else %}
{{ msg }}<br>
<div class="login-page">
   <div class="form">
      <form class="login-form" method="POST" id="signup-form">
         <div class="login">
            <input type="text" name="login" id="login-input" placeholder="Введите логин" required />
         </div>
         <div class="password">
            <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
               title="6-20 символов, хотя бы по одной цифре и букве в нижнем и верхнем регистрах"
               id="password-input" placeholder="Введите пароль" name="password"  required/>
            <a href="#" class="password-control"></a>
            <p class="message">Пароль должен состоять из 6-20 символов, и включать хотя бы по одной цифре и букве в верхнем/нижнем регистрах</p>
         </div>
         <div class="password">
            <input type="password" id="password-input-1" placeholder="Повторите пароль" name="password-two"  required/>
            <a href="#" class="password-control-1"></a>
         </div>
          <div class="password">
            <input type="text" list="Role" id="RoleInput" placeholder="Выберете роль" name="Role"  required/>

              <datalist id="Role">
                    {% for Role in roles %}
                    {% if Role.RoleName != 'Admin' %}
                        <option value="{{ Role.NameUser }}">
                    {% endif %}
                    {% endfor %}

              </datalist>

         </div>
         <button type="submit">Зарегистрироваться</button>
         <p class="message">У вас уже есть аккаунт? <a href="{{ url_for('LoginUsers') }}">Войти</a></p>
      </form>
      <form class="register-form" method="POST" id="signin-form">
         <div class="login">
            <input type="text" name="login" id="login-input-1" placeholder="Введите логин" required />
         </div>
         <div class="password">
            <input type="password" id="password-input-2" placeholder="Введите пароль" name="password"  required/>
            <a href="#" class="password-control-2"></a>
         </div>
         <button type="submit">Войти</button>
         <p class="message">У вас нет учетной записи? <a href="{{ url_for('CreateUsers') }}">Зарегистрироваться</a></p>
      </form>
   </div>
</div>
{% endif %}
{% endblock %}