{% extends "base.html" %}
{% block title %}
Создание персонажа
{% endblock %}
{% block content %}

<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<h1>Создание персонажа</h1>
<Form method="POST" id="CreateForm" class="CreatePersonageForm" action="CreatePersonage" enctype="multipart/form-data">

	<table>
		<tr>
			<th></th>
			<th></th>
            <th>
                Клан:
            </th>
            <th>
                <div class="dropdown multiple-select" data-type="multiple" data-fixed="false">
                    <input type="hidden" class="values-input" id="Clan" placeholder="Выберете клан..." name="Clan"
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="ClanPrint" placeholder="Выберете клан..." readonly
                           style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Clan in Clans %}
                            <li data-value="{{ Clan.id }}">{{ Clan.Name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                Черты:
            </th>
            <th>
                <div class="dropdown multiple-select" data-type="multiple" data-fixed="false">
                    <input type="hidden" class="values-input" id="Atributes" placeholder="Выберете черту..."
                           name="Atributes" readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="AtributesPrint"
                           placeholder="Выберете черту..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Atribute in Atributes %}
                            <li data-value="{{ Atribute.id }}">{{ Atribute.Name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
            <th>
                Имя игрока:
            </th>
            <th>
                {{ user.login }}
            </th>
            <th>
                Уровень персонажа:
            </th>
            <th>
                Происхождение:
            </th>
            <th>
                Пол:
            </th>
            <th>
                Класс:
            </th>
            <th>
                Архетип(подкласс):
            </th>
            <th>
                Класс брони
            </th>
            <th></th>
            <th>Инициатива</th>
            <th>Вдохновение</th>
        </tr>
        <tr>
			<th></th>
            <th></th>
            <th>
                Имя персонажа:
            </th>
            <th>
                <input type="text" name="Name" id="Name" placeholder="Имя персонажа"/>
            </th>
            <th>
                <input type="number" name="LevelPersonages" id="LevelPersonages" placeholder="Уровень персонажа"
                       value="2"/>
            </th>
            <th>
                <div class="dropdown single-select" data-type="single" data-fixed="false">
                    <input type="hidden" class="values-input" name="Background" id="Background"
                           placeholder="Выберете происхождение..."
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="BackgroundPrint"
                           placeholder="Выберете происхождение..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Background in Backgrounds %}
                            <li data-value="{{ Background.id }}">{{ Background.Name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <div class="dropdown single-select" data-type="single" data-fixed="false">
                    <input type="hidden" class="values-input" id=Gender" name="Gender" placeholder="Выберете  пол..."
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="GenderPrint"
                           placeholder="Выберете пол..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            <li data-value="Мужской">Мужской</li>
                            <li data-value="Женский">Женский</li>
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <div class="dropdown single-select" data-type="single" data-fixed="false">
                    <input type="hidden" class="values-input class-select" name="Class" id="Class"
                           placeholder="Выберете класс..."
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="ClassPrint"
                           placeholder="Выберете класс..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Class in Classes %}
                            <li data-value="{{ Class.id }}">{{ Class.Name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <div class="dropdown single-select" data-type="single" data-fixed="false">
                    <input type="hidden" class="values-input archetype-select" name="Archetype" id="Archetype"
                           placeholder="Выберете архетип(подкласс)..."
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="ArchetypePrint"
                           placeholder="Выберете архетип(подкласс)..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Archetype in Archetypes %}

                            <li data-value="{{ Archetype.id }}" data-class="{{ Archetype.Class[0].id }}">{{
                                Archetype.Name }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <input type="number" name="ArmorClass" id="ArmorClass" placeholder="Класс брони"
                       value="{{ 10 +  0 }}"/>
            </th>
			<th></th>
            <th>
                <input type="number" name="Initiative" id="Initiative" placeholder="Инициатива"
                       value="{{ 10 +  0 }}"/>
            </th>
            <th>
                <input type="checkbox" name="Inspiration" id="Inspiration" placeholder="Инициатива"/>
            </th>
        </tr>
        <tr>
			<th></th>
			<th></th>
            <th>
                Раса:
            </th>
            <th>
                <div class="dropdown single-select" data-type="single" data-fixed="false">
                    <input type="hidden" class="values-input" name="Race" id="Race" placeholder="Выберете расу..."
                           readonly style="width: 200px;"/>
                    <input type="text" class="texts-input" id="RacePrint"
                           placeholder="Выберете расу..." readonly style="width: 200px;"/>
                    <div class="dropdown-content">
                        <ul>
                            {% for Race in Races %}
                            <li data-value="{{ Race.id }}">{{ Race.Name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th></th>
            <th></th>
			<th></th>
            <th></th>
			<th></th>
            <th>Успехи:</th>
            <th>
                <input type="checkbox" name="SavedSuccessThrow" id="SavedSuccessThrow1" placeholder="Успех" value="1"/>
                <input type="checkbox" name="SavedSuccessThrow" id="SavedSuccessThrow2" placeholder="Успех" value="2"/>
                <input type="checkbox" name="SavedSuccessThrow" id="SavedSuccessThrow3" placeholder="Успех" value="3"/>
            </th>
            <th>
                Провалы:
            </th>
            <th>
                <input type="checkbox" name="FailedSuccessThrow" id="FailedSuccessThrow1" placeholder="Провал"
                       value="1"/>
                <input type="checkbox" name="FailedSuccessThrow" id="FailedSuccessThrow2" placeholder="Провал"
                       value="2"/>
                <input type="checkbox" name="FailedSuccessThrow" id="FailedSuccessThrow3" placeholder="Провал"
                       value="3"/>
            </th>
		</tr>
        <tr>
            <th>
                Пассивное внимание:
            </th>
            <th>
                Сила:
            </th>
            <th>
                Ловкость:
            </th>
            <th>
                Телосложение:
            </th>
            <th>
                Интеллект:
            </th>
            <th>
                Мудрость:
            </th>
            <th>
                Харизма:
            </th>
            <th></th>
            <th>
                Мастерство:
            </th>
            <th>
                Скорость:
            </th>
			<th></th>
            <th>
                Очки здоровья:
            </th>
            <th>
                Урон: <input type="number" name="Damage" id="Damage" placeholder="Нанесенный урон..."/>
            </th>
        </tr>
        <tr>
            <th>
                <input type="number" name="PassivAttention" id="PassivAttention" placeholder="Пассивное внимание"
                       value="{{ 10 +  0 }}"/>
            </th>
            {% for Characteristic in Characteristices %}
            <th>
                {{ Characteristic.name }}:
                <input type="hidden" value="{{ Characteristic.id }}">
            </th>
            {% endfor %}
            <th></th>
            <th>
                Мастерство:
            </th>
            <th>
                Скорость:
            </th>
			<th></th>
            <th>
                Очки здоровья:
            </th>
			<th></th>
		</tr>
	</table>
</Form>
{% endblock %}