{% extends "Base.html" %}

{% block title %}
{{ DatesMassiv[2] }}
{% endblock %}

{% block content %}

<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<Form method="POST" id="EditForm" class="{{ DatesMassiv[1] }}Form" action="EditPost" enctype="multipart/form-data">
    <input type="hidden" class="tableName" name="tableName" id="tableName" placeholder="tableName" value="{{ DatesMassiv[1] }}"/>
    <input type="hidden" class="Date_id" name="Date_id" id="Date_id" placeholder="Date_id" value="{{ DatesMassiv[0] }}"/>
    {% for PostDate in DatesMassiv[3] %}
    {% if PostDate[0] == '' and PostDate[1] is string %}
    <h1>{{ PostDate[1] }}</h1>
    <label for="{{ PostDate[2] }}">Название:</label>
    <input type="text" class="{{ PostDate[2] }}" name="{{ PostDate[2] }}" id="{{ PostDate[2] }}"
           placeholder="{{ PostDate[0] }}" value="{{ PostDate[1] }}"/>
    {% else %}
    {% if PostDate[1] == False or PostDate[1] == True %}
    {{ PostDate[0] }}: <input type="checkbox" name="{{ PostDate[2] }}" id="{{ PostDate[2] }}"
                              placeholder="{{ PostDate[0] }}"
                              {% if PostDate[1] %} checked {% endif%}>
    {% else %}
    {% if PostDate[0] != '' %}
    {% if PostDate[2] != 'image' %}
    {% if PostDate[1] is iterable and (PostDate[1] is not string and PostDate[1] is not mapping) %}
    <label for="{{ PostDate[2] }}">{{ PostDate[0] }}:</label>
    {% if PostDate[5]==True %}
    <div class="dropdown single-select" data-type="single" data-fixed="false">
        <input type="hidden" class="values-input" id="{{ PostDate[2] }}" placeholder="{{  PostDate[0] }}"
               name="{{ PostDate[2] }}" readonly style="width: 200px;"/>
        <input type="text" class="texts-input" id="{{ PostDate[2] }}Print {{ PostDate[0] }}"
               placeholder="{{  PostDate[0] }}" readonly style="width: 200px;"/>
        <div class="dropdown-content">
            <ul>
                {% for Parametr in PostDate[3] %}
                {% if Parametr in PostDate[1] %}
                <li data-value="{{ Parametr.id }}" class="selected">{{ Parametr.Name }}</li>
                {% else %}
                <li data-value="{{ Parametr.id }}">{{ Parametr.Name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="dropdown multiple-select" data-type="multiple" data-fixed="false">
        <input type="hidden" class="values-input" id="{{ PostDate[2] }}" placeholder="{{  PostDate[0] }}"
               name="{{ PostDate[2] }}" readonly style="width: 200px;"/>
        <input type="text" class="texts-input" id="{{ PostDate[2] }}Print {{ PostDate[0] }}"
               placeholder="{{  PostDate[0] }}" readonly style="width: 200px;"/>
        <div class="dropdown-content">
            <ul>
                {% for Parametr in PostDate[3] %}
                {% if Parametr in PostDate[1] %}
                <li data-value="{{ Parametr.id }}" class="selected">{{ Parametr.Name }}</li>
                {% else %}
                <li data-value="{{ Parametr.id }}">{{ Parametr.Name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% elif PostDate[2] == "imageName" %}
    <input type="hidden" id="oldimageName" name="oldimageName" value="{{ PostDate[1] }}"/>
    <label for="image_uploads" id="image_uploads_label">Загрузить картинку:</label>
    <canvas id="imageDate"></canvas>
    <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png"/>
    {% else %}
    <label for="{{ PostDate[2] }}">{{ PostDate[0] }}:</label>
    {% if PostDate[2] == "Discription" %}
    <textarea name="{{ PostDate[2] }}" id="{{ PostDate[2] }}"
              placeholder="{{ PostDate[2] }}"> {{ PostDate[1] }}  </textarea>
    {% else %}
    <input type="text" name="{{ PostDate[2] }}" id="{{ PostDate[2] }}" placeholder="{{ PostDate[0] }}"
           value="{{ PostDate[1] }}"/>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    <button type="submit" name="two_buttons" value="update" id="update">Изменить</button>
    <button id="open">Удалить</button>
    <dialog>
  <p>
    Вы пытаетесь удалить {{ DatesMassiv[3][0][1] }}
  </p>
        <button type="submit" id="closeOn" name="two_buttons" value="remove">Да</button>
        <button type="submit" id="closeOff">Нет</button>
  </dialog>
</Form>

{% endblock %}