{% extends "LoginPage.html" %}

{% block title %} Регистрация / Вход {% endblock %}

{% block content %}

<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<div class="content container" bis_skin_checked="1">
    <div class="form-container" bis_skin_checked="1">
        <h1>Регистрация / Вход</h1>
        <div class="login-page" bis_skin_checked="1">
            <div class="form" bis_skin_checked="1">
                <!-- Форма регистрации -->
                <form class="registration-form hidden" method="POST" id="signup-form" action="CreateUsers">
                    <div class="login" bis_skin_checked="1">
                        <input type="text" name="login" id="login-input" placeholder="Введите логин" required=""
                               autocomplete="username">
                    </div>
                    <div class="password-field-wrapper" bis_skin_checked="1">
                        <input type="password" id="password-input" placeholder="Введите пароль" name="password"
                               required="" autocomplete="new-password">
                        <span class="toggle-password-one" onclick="togglePasswordVisibility(this, 'password-input')">
                            <img src="{{ url_for('static', filename='logo/no-view.png') }}" alt="Показать пароль">
                        </span>
                        <span class="tooltip-icon"
                              title="Пароль должен состоять из 6-20 символов, и включать хотя бы по одной цифре и букве в верхнем/нижнем регистрах">
                            <img src="{{ url_for('static', filename='logo/exclamation.png') }}" alt="Подсказка">
                        </span>
                    </div>
                    <div class="password-field-wrapper" bis_skin_checked="1">
                        <input type="password" id="password-input-confirm" placeholder="Повторите пароль"
                               name="password-two" required="" autocomplete="current-password">
                        <span class="toggle-password"
                              onclick="togglePasswordVisibility(this, 'password-input-confirm')">
                            <img src="{{ url_for('static', filename='logo/no-view.png') }}"
                                 alt="Показать повтор пароля">
                        </span>
                    </div>
                    <!-- Сообщение об ошибке -->
                    <p class="error-message" style="display:none;">Пароли не совпадают!</p>
                    <div class="dropdown single-select" data-type="single" data-fixed="false" bis_skin_checked="1">
                        <input type="hidden" class="values-input" id="RoleInput" placeholder="Выберите роль..."
                               name="Role"
                               readonly style="width: 200px;"/>
                        <input type="text" class="texts-input" id="RoleInputPrint" placeholder="Выберите роль..."
                               readonly
                               style="width: 200px;"/>
                        <div class="dropdown-content">
                            <ul>
                                {% for Role in roles %}
                            {% if Role.RoleName != 'Admin' %}
                                <li data-value="{{ Role.id }}">{{ Role.NameUser }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button type="submit">Зарегистрироваться</button>
                    <p class="message">
                        У вас уже есть аккаунт?
                        <a href="#login">Войти</a>
                    </p>
                </form>
                <!-- Форма входа -->
                <form class="authentication-form" method="POST" id="signin-form" action="LoginUsers">
                    <div class="login" bis_skin_checked="1">
                        <input type="text" name="login" id="login-input-1" placeholder="Введите логин" required=""
                               autocomplete="username">
                    </div>
                    <div class="password-field-wrapper" bis_skin_checked="1">
                        <input type="password" id="password-input-2" placeholder="Введите пароль" name="password"
                               required="" autocomplete="new-password" aria-autocomplete="list">
                        <span class="toggle-password" onclick="togglePasswordVisibility(this, 'password-input-entry')">
                            <img src="{{ url_for('static', filename='logo/no-view.png') }}" alt="Показать пароль">
                        </span>
                    </div>
                    <button type="submit">Войти</button>
                    <p class="message">
                        У вас нет учетной записи?
                        <a href="#register">Зарегистрироваться</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
