{% extends "Base.html" %}

{% block title %}
Данные по ДНД
{% endblock %}

{% block content %}

<!-- Показываем кнопку "назад", если разрешено -->
{% if show_back_button %}
<button id="back-button">Вернуться назад</button>
{% endif %}

<h1>Данные по ДНД</h1>

<ul>
    <li>
        <a href="{{ url_for('VeiwAbilities') }}">Способности</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwArchetypes') }}">Архетипы</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwArmors') }}">Доспехи</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwArmorTypes') }}">Типы доспеха</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwAtributes') }}">Черты</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwBackgrounds') }}">Предыстории</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwCharacteristices') }}">Характеристики</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwClasses') }}">Классы</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwDamageTypes') }}">Типы урона</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwEffects') }}">Эффекты</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwEquipments') }}">Снаряжения</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwEquipmentTypes') }}">Типы снаряжения</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwFeatures') }}">Свойства оружия</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwLanguages') }}">Языки</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwMagicalItems') }}">Магичечские предметы</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwMagicalItemTypes') }}">Типы магических предметов</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwRaces') }}">Расы</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwSkills') }}">Навыки</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwSpells') }}">Заклинания</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwTools') }}">Инструменты</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwToolTypes') }}">Типы инструмента</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwWeapoons') }}">Оружия</a>
    </li>
    <li>
        <a href="{{ url_for('VeiwWeapoonTypes') }}">Типы оружия</a>
    </li>
</ul>

{% endblock %}
