{% extends "base.html" %}

{% block title %}
Создание доспеха
{% endblock %}

{% block content %}

<Form method="POST"  id="CreateArmorForm">
    <input type="text" name="ArmorName" id="ArmorName" placeholder="Название доспеха" required />
    <input type="text" list="ArmorTypeList" name="ArmorType" id="ArmorType" placeholder="Тип доспеха" required />
    <datalist id="ArmorTypeList">
        {% for ArmorType in ArmorTypes %}
        <option value="{{ ArmorType.ArmorTypeName }}">
        </option>>
          {% endfor %}
    </datalist>
    <input type="text" name="Weight" id="Weight" placeholder="Вес"/>
    <input type="text" name="Power" id="Power" placeholder="Сила"/>
    <input type="text" name="Cost" id="Cost" placeholder="Цена"/>
    <input type="checkbox" name="Hindrance" id="Hindrance" placeholder="Помеха">Помеха
    <input type="text" name="ArmorClass" id="ArmorClass" placeholder="Классс доспеха"/>
    <button type="submit">Создать</button>
</Form>

{% endblock %}