{% extends "base.html" %}
{% block title %}
Создание языка
{% endblock %}

{% block content %}

<form method="POST" id="CreateLanguageForm" action="CreateLanguage">
    <input type="text" name="NameLanguage" id="NameLanguage" placeholder="Язык" required />
    <input type="text" name="TypicalRepresentative" id="TypicalRepresentative" placeholder="Типичный представитель" required />
    <input type="text" name="Writing" id="Writing" placeholder="Письменность" required />
     <button type="submit">Создать</button>
</form>

{% endblock %}