{% extends "base.html" %}

{% block title %}
Создание магического предмета
{% endblock %}

{% block content %}

<Form method="POST"  id="CreateMagicalItemsForm">
    <input type="text" name="MagicalItemsName" id="MagicalItemsName" placeholder="Название магического предмета" required />
    <textarea name="Discription" id="Discription" placeholder="Описание">
    </textarea>
    <input type="text" name="PowerBonus" id="PowerBonus" placeholder="Бонус атаки" required />
    <input type="text" name="ArmorBonus" id="ArmorBonus" placeholder="Бонус защиты" required />
    <input type="text" name="PossessionArmor" id="PossessionArmor" placeholder="Владение доспехами"/>
    <select class="PossessionArmorPrint" name="PossessionArmorPrint" id="PossessionArmorPrint" multiple>
        {% for ArmorType in armorTypes %}
        <option value="{{ ArmorType.ArmorTypeName }}">
            {{ ArmorType.ArmorTypeName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="GunOwnership" id="GunOwnership" placeholder="Владение оружием"/>
    <select class="GunOwnershipPrint" name="GunOwnershipPrint" id="GunOwnershipPrint" multiple>
        {% for Weapoon in Weapoons %}
        <option value="{{ Weapoon.WeapoonName }}">
            {{ Weapoon.WeapoonName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="ToolOwnership" id="ToolOwnership" placeholder="Владение инструментами"/>
    <select class="ToolOwnershipPrint add-to-tags" name="ToolOwnershipPrint" id="ToolOwnershipPrint" multiple>
        {% for Tool in Tools %}
        <option value="{{ Tool.ToolName }}">
            {{ Tool.ToolName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="Spells" id="Spells" placeholder="Доступные заклинания"/>
    <select class="SpellsPrint add-to-tags" name="ToolOwnershipPrint" id="SpellsPrint" multiple>
        {% for Spell in Spells %}
        <option value="{{ Spell.SpellName }}">
            {{ Spell.SpellName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="SkillsName" id="SkillsName" placeholder="Доступные навыки"/>
    <select class="SkillsNamePrint add-to-tags" name="SkillsNamePrint" id="SkillsNamePrint" multiple>
        {% for Skill in skills %}
        <option value="{{ Skill.SkillName }}">
            {{ Skill.SkillName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="DamageResistance" id="DamageResistance" placeholder="Сопративление к урону"/>
    <select class="DamageResistancePrint add-to-tags" name="DamageResistancePrint" id="DamageResistancePrint" multiple>
        {% for damageType in damageTypes %}
        <option value="{{ damageType.DamageTypeName }}">
            {{ damageType.DamageTypeName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="DamageImmunity" id="DamageImmunity" placeholder="Иммунитет к урону"/>
    <select class="DamageImmunityPrint add-to-tags" name="DamageImmunityPrint" id="DamageImmunityPrint" multiple>
        {% for damageType in damageTypes %}
        <option value="{{ damageType.DamageTypeName }}">
            {{ damageType.DamageTypeName }}
        </option>
        {% endfor %}
    </select>
    <input type="text" name="Characteristices" id="Characteristices" placeholder="Бонус к характеристикам"/>
    <select class="CharacteristicesPrint add-to-tags" name="CharacteristicesPrint" id="CharacteristicesPrint" multiple>
        {% for Characteristic in Characteristices %}
        <option value="{{ Characteristic.CharacteristicName }}">
            {{ Characteristic.CharacteristicName }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Создать</button>
</Form>

{% endblock %}